@model CompileError.Models.ProductModelView
@{
    Layout = "~/Views/Shared/_KLayout.cshtml";
}
@*Main Section *@

@section MyCSS
{

}

@* ..Main Section.. *@
<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Update product</h2>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm(FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(c => c.Code)
            @Html.TextBoxFor(c => c.Code, new { @class = "form-control", placeholder = "Enter Code" })
            @Html.ValidationMessageFor(c => c.Code, "", new { @class = "text-danger" })
            <span id="codeUniqueErrorMessage" style="color: red"></span>
        </div>

        <div class="form-group">

            @Html.LabelFor(c => c.Name)
            @Html.TextBoxFor(c => c.Name,
                new {@class = "form-control", placeholder="Enter Name"})
            @Html.ValidationMessageFor(c => c.Name,"",
                new {@class = "text-danger"})
            <span id="nameUniqueErrorMessage" style="color: red"></span>
        </div>
            <div class="form-group">
                @Html.LabelFor(c => c.CategoryId)
                @Html.DropDownListFor(c => c.CategoryId, Model.CategorySelectListItems, "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(c => c.CategoryId,"",
                    new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.ReorderLevel)
                @Html.TextBoxFor(c => c.ReorderLevel,
                    new {@class = "form-control", placeholder="Enter reorder level", @type="number"})
                @Html.ValidationMessageFor(c => c.ReorderLevel,"",
                    new {@class = "text-danger"})
            </div>
            <div class="form-group">
                @Html.LabelFor(c => c.Description)
                @Html.TextBoxFor(c => c.Description,
                    new {@class = "form-control", placeholder="Enter Description"})
                @Html.ValidationMessageFor(c => c.Description,"",
                    new {@class = "text-danger"})
            </div>

            <input type="submit" value="Update" class="btn-lg btn-primary" />
        }
    </div>
</div>

<div>
    @* .......Products Details *@
    @{
        Html.RenderPartial("~/Views/Shared/Product/_ProductDetails.cshtml", Model);
    }
</div>

@section MyScript
{
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    
    @*<script>
        $(document).ready(function (e) {

            var code = $("#Code").val();
            var jsonCode = { code: code };
            var id = 0;
            $.ajax({
                url: "/Product/GetId",
                type: "POST",
                data: jsonCode,
                success: function (e) {
                    alert(e);
                    id = e;
                },
                error: function() {

                }
            });
            //alert("Out");

            $("#Code").focusout(function() {
                //alert("Code In");
                var code = $("#Code").val();
                var jsonCodeId = { code: code, id:id };

                $.ajax({
                    url: "/Product/CodeEditUniqueCheck",
                    type: "POST",
                    data: jsonCodeId,
                    success: function (e) {
                        
                        //alert(e);
                        if (e == "False") {
                            $("#codeUniqueErrorMessage").text("Code must be unique");
                        } else {
                            $("#codeUniqueErrorMessage").text("");
                        }
                    },
                    error: function() {

                    }
                });

            });

            $("#Name").focusout(function() {
                var name = $("#Name").val();
                var jsonNameId = { name: name, id: id };

                $.ajax({
                    url: "/Product/NameUniqueCheck",
                    type: "POST",
                    data: jsonNameId,
                    success: function (e) {
                        
                        //alert(e);
                        if (e == "False") {
                            $("#nameUniqueErrorMessage").text("Name must be unique");
                        } else {
                            $("#nameUniqueErrorMessage").text("");
                        }
                    },
                    error: function() {

                    }
                });

            });

        });
    </script>*@
}
